.header {
    text-align: center;
    background-color: #290147;
    color: white;
    font-weight: bold;
    font-size: 28px;
    width: 100vw;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card-section {
    padding: 25px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". card-1 card-2 card-3 ."
    ". card-4 card-5 card-6 ."
    ". card-7 card-8 card-9 .";
    grid-gap: 0.5rem;
}

#card-1{
    grid-area: card-1;
}

.card {
    border: solid black 1px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
}

.card-body {
    background-color: lavenderblush;
}

.list-group {
    padding: 25px;
}

.list-group-item {
    border: gray solid 1px;
}

@media only screen and (max-width: 750px) {
    .card-section {
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "card-1"
        "card-2"
        "card-3"
        "card-4"
        "card-5"
        "card-6"
        "card-7"
        "card-8"
        "card-9";
        grid-gap: 0.5rem;
    }
}